<div class="jumbotron">
    <div class="container">
      <div class="row">
        <button
          title="Sort"
          type="button"
          class="btn btn-primary btn-lg col-xs-1 col-sm-4 ss-button"
          [disabled]="!isShuffled"
          (click)="sort()"
        >
          Sort
        </button>
        <button
          title="Shuffle"
          type="button"
          class="btn btn-primary btn-lg col-xs-1 col-sm-4 ss-button"
          [disabled]="isShuffled"
          (click)="shuffle()"
        >
          Shuffle
        </button>
      </div>
      <div class="row ss-row">
        <div
          class="col-xs-1 col-sm-4 border ss-tile"
          *ngFor="let tile of tiles"
          [ngStyle]="{ 'background-color': tile.color }"
        >
          <h1 class="card-title" title="{{ tile.id }}">{{ tile.id }}</h1>
        </div>
      </div>
    </div>
    <br />
    <div class="text-center">Shuffle and sort by <b>Agilesh Sivakumar</b></div>
  </div>
